<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test node configuratio</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <head class="head">
                <h1 class="head__title">
                    Travel planer
                </h1>
                <p class="head__text">
                    Type the cities that you plan to visit. We can predict the weather in chosen cities only for the nearest 16 days.
                </p>
            </head>
            <main class="main">
                <form action="/test" method="get" class="main__form">
                    <div class="main__col">
                        <label for="link">Location</label>
                        <input type="text" id="link" data-validation="city" placeholder="Type your destination" class="main__input city">
                    </div>

                    <div class="main__col">
                        <label for="start-data">Arrival date</label>
                        <input type="date" id="start-data" data-validation="start" placeholder="Type your arrival date" class="main__input day">
                    </div>

                    <div class="main__col">
                        <label for="">Leaving day</label>
                        <input type="date" id="finish-data" data-validation="finish" placeholder="Enter the date of your departure" class="main__input day">
                    </div>

                    <button type="submit" class="main__btn btn">Get started</button>
                </form>
                <p class="main__error"></p>
                <section class="reply">
                    <div class="reply__title">
                        You have already choose
                    </div>

                    <div class="reply__directions">

                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>